@{ 
    Layout = "_Layout";
}
   
        <div id="AllContentStyle">
            <p class="Maindiv"><img src="/TextPictures/MethodTop.jpg"></p>
            <p class="Maindiv"><b>Материалы для работы с детьми</b></p>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/17Vd3Gtp_dHmOyQqzVOrNHhMaq4dtrrSg/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>В гостях</div>
                <div>у феи.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/17Vd3Gtp_dHmOyQqzVOrNHhMaq4dtrrSg/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1MsZ1tm_VaysNC6TLkLYA1qq21qyPhts2/view?usp=sharing" target="_blank"><img src="/TextPictures/IconDoc.png"></a>
                </div>
                <div>Вместе-</div>
                <div>дружные ребята.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1MsZ1tm_VaysNC6TLkLYA1qq21qyPhts2/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1ymeCGRsmP5pyfHf6KqHD7vqEnMPBiAEz/view?usp=sharing" target="_blank"><img src="/TextPictures/IconDoc.png"></a>
                </div>
                <div>Дружные</div>
                <div>ребята.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1ymeCGRsmP5pyfHf6KqHD7vqEnMPBiAEz/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1TssdpyQKVlbvGepm4pYNZXW8HrBZtbes/view?usp=sharing" target="_blank">															<img src="/TextPictures/IconDoc.png"></a>
                </div>
                <div>Коммуникативный трейнинг </div>
                <div>если бы я был.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1TssdpyQKVlbvGepm4pYNZXW8HrBZtbes/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1ZKCzQkAiL_1N0VbKGdOh_1FUt92tg9iR/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Мы поссоримся </div>
                <div>и помиримся.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1ZKCzQkAiL_1N0VbKGdOh_1FUt92tg9iR/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/19PLgsUvwLm27qL_nPxhuBRxUlS9DlH1j/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Победитель </div>
                <div>злости.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/19PLgsUvwLm27qL_nPxhuBRxUlS9DlH1j/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1t_usn3bBDYpSmuLodIsLR9oiwMR6HFI2/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Путешествие </div>
                <div>в осенний лес.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1t_usn3bBDYpSmuLodIsLR9oiwMR6HFI2/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1KraIUGVmSP339LEG0Q-an5bQXMBWYDGA/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Путешествие </div>
                <div>в страну чувств.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1KraIUGVmSP339LEG0Q-an5bQXMBWYDGA/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1nV1rbgrgY8sx3Py_y_rd0dFC7vrH1v_R/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Путешествие </div>
                <div>Золотой рыбки.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1nV1rbgrgY8sx3Py_y_rd0dFC7vrH1v_R/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1Dq9edpliKnnI3_53nyMkPGKUR_NR_AzA/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Путешествие </div>
                <div>с почемучкой.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1Dq9edpliKnnI3_53nyMkPGKUR_NR_AzA/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1RQKOddBJVSrGNPN8o-A0jmsjpm5L4fF-/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Сказочная</div>
                <div>страна.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1RQKOddBJVSrGNPN8o-A0jmsjpm5L4fF-/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1YRZT1R_z5xw86xSeK7_Ut2xMWRDqeYBk/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Что такое</div>
                <div>оброта.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1YRZT1R_z5xw86xSeK7_Ut2xMWRDqeYBk/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>

            <p class="Maindiv"><b>Материалы для работы с педагогами</b></p>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1S3J03dZD-omtEfiy-pbkOny6ClXP4pL_/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Конструктивное поведение</div>
                <div>в конфликте.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1S3J03dZD-omtEfiy-pbkOny6ClXP4pL_/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1qINJ5G4rTrAiTqV8kDeUvnWmy-4N6WSY/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Круглый  стол - </div>
                <div>Психологическая  готовность к обучению.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1qINJ5G4rTrAiTqV8kDeUvnWmy-4N6WSY/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1f6tyZTqUHJy9FMHuoA8_XXBoR5liRocx/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Семинар-практикум</div>
                <div>педагогов.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1f6tyZTqUHJy9FMHuoA8_XXBoR5liRocx/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1f6tyZTqUHJy9FMHuoA8_XXBoR5liRocx/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Семинар-практикум</div>
                <div>Создание комфорта.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1f6tyZTqUHJy9FMHuoA8_XXBoR5liRocx/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1Zg9xzfz7IoXXh0oU4NjZmBOTf-0MnfC9/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Семинар-практикум</div>
                <div>Наказывая подумай.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1Zg9xzfz7IoXXh0oU4NjZmBOTf-0MnfC9/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1gzC6nF0Sktmd5IEAevbUVPjHCFxi7En2/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Семинар-практикум</div>
                <div>Секреты дисциплины.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1gzC6nF0Sktmd5IEAevbUVPjHCFxi7En2/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1jh3AQkXn2z3p7sx0p-VX5rFK90cTrwzL/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Семинар-практикум</div>
                <div>Как предупредить нарушения.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1jh3AQkXn2z3p7sx0p-VX5rFK90cTrwzL/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1WLGNCoh00rMMO2TfHdjsOdqeegmTIZyw/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Семинар-Техники</div>
                <div>Установление позитивных отношений.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1WLGNCoh00rMMO2TfHdjsOdqeegmTIZyw/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1zUapeooZuhThkz8bdiMNUAwaGUCFh1wR/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Трейнинг</div>
                <div>Как не сгореть на работа.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1zUapeooZuhThkz8bdiMNUAwaGUCFh1wR/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1irIZ_3FLyYOCltaY0gt6ZZhOm35GupAC/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Трейнинг</div>
                <div>Сплочение коллектива.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1irIZ_3FLyYOCltaY0gt6ZZhOm35GupAC/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/11whJqjtqQ2qbF86CtxLjliA9iBIseymP/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Трейнинг</div>
                <div>Личностного роста педагогов.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/11whJqjtqQ2qbF86CtxLjliA9iBIseymP/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <p class="Maindiv"><b>Материалы для работы с родителями</b></p>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/10u8d1wst3kH1ehE-47lLvsXg229hDsNz/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Гендерное</div>
                <div>воспитание ребенка.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/10u8d1wst3kH1ehE-47lLvsXg229hDsNz/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1U_cBu-EQ2CNcsWONR4SfehL8B1_avWPQ/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Круглый стол</div>
                <div>Капризы детей.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1U_cBu-EQ2CNcsWONR4SfehL8B1_avWPQ/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/145BfNI9_SDlbi0yY0_j3d3QeMAQh38Np/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Семинар</div>
                <div>Адаптация детей.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/145BfNI9_SDlbi0yY0_j3d3QeMAQh38Np/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/18_L9RlThe3z6x9QMb1eJlNJvraBmxJN-/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Семинар-практикум</div>
                <div>Я и ребенок.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/18_L9RlThe3z6x9QMb1eJlNJvraBmxJN-/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/11KbxyiOeEAZXxcB8kGsQ9INoBXaYWYGN/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Семинар</div>
                <div>Кризис 3 лет.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/11KbxyiOeEAZXxcB8kGsQ9INoBXaYWYGN/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/18ds3m6ELee7enMmada8CI5ottvNcGTEg/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Собрание-Искусство</div>
                <div>наказывать и прощать.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/18ds3m6ELee7enMmada8CI5ottvNcGTEg/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="https://drive.google.com/file/d/1OwivXiGhQ8MxItUXxme-94Ia_xrgDuy0/view?usp=sharing" target="_blank">
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Собрание-готовность</div>
                <div>к школе.doc</div>
                <div class="ReadDocumentRef">
                    <a href="https://drive.google.com/file/d/1OwivXiGhQ8MxItUXxme-94Ia_xrgDuy0/view?usp=sharing" target="_blank">
                        Читать
                    </a>
                </div>
            </div>
            <p class="Maindiv"><img src="/TextPictures/MethodBot.Gif"></p>
        </div>
