@{
    Layout = "_Layout";
}
<div id="AllContentStyle">
    <div class="Maindiv">
        <img src="/TextPictures/Нормдок Старт.jpg">
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1atStqdm9TVuAcyZYq4ZpUQEmUMxOWZjQ/view?usp=sharing" target="_blank"><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Конвенция о правах</div>
        <div>ребёнка.doc	</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1atStqdm9TVuAcyZYq4ZpUQEmUMxOWZjQ/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1uvPpULTIFOsaM2tkT4g5OgZnSmIFgKcU/view?usp=sharing" target="_blank"><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Приказ о службе </div>
        <div>практической психологии.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1uvPpULTIFOsaM2tkT4g5OgZnSmIFgKcU/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://docs.google.com/document/d/1lGoTgj517tZ-tE7OFIAMtLccZgdBm4xX-eKHih_CWXY/edit?usp=sharing" target="_blank"><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Должностная инструкция </div>
        <div>педагога - психолога.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://docs.google.com/document/d/1lGoTgj517tZ-tE7OFIAMtLccZgdBm4xX-eKHih_CWXY/edit?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1d_bs_ZHImuA4xmzA5-wiUvz7-u7W_cE7/view?usp=sharing" target="_blank"><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Закон об основных гарантиях</div>
        <div>прав ребёнка.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1d_bs_ZHImuA4xmzA5-wiUvz7-u7W_cE7/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/17dMTYGWI4E08Z4HGJPHqS2hzQhgPFBsr/view?usp=sharing" target="_blank"><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Извлечение из ФЗ  РФ </div>
        <div>об образовании.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/17dMTYGWI4E08Z4HGJPHqS2hzQhgPFBsr/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>

    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/13k_iXkzXb1ki4Jha79sXCAXMW-7JzT4b/view?usp=sharing" target="_blank"><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Введение должности психолога</div>
        <div> в учреждениях образования.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/13k_iXkzXb1ki4Jha79sXCAXMW-7JzT4b/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1G7XRNjM7ZLibCfJoKOQiUNc0E0_DpKu8/view?usp=sharing" target="_blank"><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>О практике проведения диагностики</div>
        <div> развития ребёнка.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1G7XRNjM7ZLibCfJoKOQiUNc0E0_DpKu8/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1CaIxYbHNXyaQvCdjZzuHyknSJ1sccH9P/view?usp =sharing" target="_blank"><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>О преемственности дошкольного</div>
        <div>общего образования.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1CaIxYbHNXyaQvCdjZzuHyknSJ1sccH9P/view?usp =sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1nuNeRN8gjXhamnC6-fomChqlIBXmFgxP/view?usp=sharing" target="_blank"><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>О состоянии</div>
        <div> службы психологии РФ.doc"</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1nuNeRN8gjXhamnC6-fomChqlIBXmFgxP/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1QGYKqALsQ3sbm8RKNc3QCP6P84POreBW/view?usp=sharing" target="_blank"><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Об использовании  рабочего времени</div>
        <div> педагога - психолога ОУ.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1QGYKqALsQ3sbm8RKNc3QCP6P84POreBW/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1RN6EJBRiFIrZWCz3_vqbXR1slx0-Cgu3/view?usp=sharing" target="_blank"><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Об педагогах - психологах</div>
        <div> и учителях - логопедах.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1RN6EJBRiFIrZWCz3_vqbXR1slx0-Cgu3/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1DF7W370Zlr9T6c_5H2t9lQ1H01QYF9uo/view?usp=sharing" target="_blank"><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>О подготовке детей</div>
        <div>  к школе.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1DF7W370Zlr9T6c_5H2t9lQ1H01QYF9uo/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1pF5i2taHP1_7PjSmvyuY5EpbidOlaE9O/view?usp=sharing" target="_blank"><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Приказ о порядке  аттестации</div>
        <div> педагогических работников.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1pF5i2taHP1_7PjSmvyuY5EpbidOlaE9O/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>

    <div class="Maindiv">
        <img src="/TextPictures/Нормдок база.png">
    </div>

    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/ФГОС ДО (проект).pdf" target="_blank"><img src="/TextPictures/IconPDF.png"></a>
        </div>
        <div>ФГОС ДО </div>
        <div> (проект).pdf</div>
        <div class="ReadDocumentRef">
            <a href="/TextDocuments/ФГОС ДО (проект).pdf" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1nRC_IunAQe44HmGSjH-MZ0cXWAWgqFq5/view?usp=sharing" target="_blank"><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Работа педагога-психолога ДОУ</div>
        <div> в эпоху новых стандартов.docx</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1nRC_IunAQe44HmGSjH-MZ0cXWAWgqFq5/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Приказ  Об утверждении профессионального стандарта педагога-психолога .pdf" target="_blank"><img src="/TextPictures/IconPDF.png"></a>
        </div>
        <div> Об утверждении стандарта</div>
        <div> педагога-психолога .pdf</div>
        <div class="ReadDocumentRef">
            <a href="/TextDocuments/Приказ  Об утверждении профессионального стандарта педагога-психолога .pdf" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="Maindiv">
        <img src="/TextPictures/Работа педагога.png">
    </div>
</div>
<div align="center"></div>
