@{
    Layout = "_Layout";
}

<div id="AllContentStyle">
    <p class="Maindiv"><img src="/TextPictures/DiagnosticTop.jpg"></p>
    <p class="Maindiv"><b>Диагностический инструментарий для работы с детьми</b></p>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1OLJGd0cA0Z0edtO6UxioaoK6znTYO3XP/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Диагностическая</div>
        <div> методика - Секрет.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1OLJGd0cA0Z0edtO6UxioaoK6znTYO3XP/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1UTK2tKzhVtcj-LuF3jeoe3V0H6tmIxVg/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Исследование</div>
        <div> тревожности ребенка.doc</div>
        <div>
            <a href="https://drive.google.com/file/d/1UTK2tKzhVtcj-LuF3jeoe3V0H6tmIxVg/view?usp=sharing" target="_blank">
                читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1sFIBzeN8uU-enDaVqukRrTaG75w0V7SJ/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Методика</div>
        <div>Два дома.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1sFIBzeN8uU-enDaVqukRrTaG75w0V7SJ/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/133WpvRYMoqekkf549j9yn4-LbyBfJbeq/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Мотивация</div>
        <div>Старших дошкольников.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/133WpvRYMoqekkf549j9yn4-LbyBfJbeq/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1z-HlVznE6NeDkGbOReSiBc45m4ezQLrB/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Я в детском</div>
        <div>саду.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1z-HlVznE6NeDkGbOReSiBc45m4ezQLrB/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1Dzuo1fZxHBSEATWOZtFGR8lP7oHxept8/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Методика определения</div>
        <div>самооценки дошкольника.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1Dzuo1fZxHBSEATWOZtFGR8lP7oHxept8/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1XmXOpFp7bxk6WLe2iGKuOVHginBIPb-q/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Проектная методика</div>
        <div>кактус.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1XmXOpFp7bxk6WLe2iGKuOVHginBIPb-q/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1bkb_T5D7bj6ELc-wVQqlyEETR9NxV-XE/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест</div>
        <div>Несуществующее животное.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1bkb_T5D7bj6ELc-wVQqlyEETR9NxV-XE/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/10bKN_qUugrXVlPq4I-NtDCBThln4bi5N/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест</div>
        <div>Рисунок семьи.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/10bKN_qUugrXVlPq4I-NtDCBThln4bi5N/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1SsUZMIJ9qfjO4KW5HVWZLgqKO-iUxp3S/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест</div>
        <div>Страхи в домиках.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1SsUZMIJ9qfjO4KW5HVWZLgqKO-iUxp3S/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <p class="Maindiv"><b>Диагностический инструментарий для работы с педагогами</b></p>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1_K6VnaUcE93BlqPdVaW-itLNLKWj5QEz/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Готовность  педагога  к </div>
        <div>инновационной деятельности.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1_K6VnaUcE93BlqPdVaW-itLNLKWj5QEz/view?usp=sharing"target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1ZyvQhl5PqaFAtoCaPGsHeeWdaqqSc3WV/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Методика диагностики </div>
        <div>эмоционального выгорания.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1ZyvQhl5PqaFAtoCaPGsHeeWdaqqSc3WV/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1cFdBcDE3eX_cv1WhLAO2B2FylX3PepoM/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Оценка коммуникативной </div>
        <div>компетентности педагога.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1cFdBcDE3eX_cv1WhLAO2B2FylX3PepoM/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1kT53defWYUEyAXbTqV6Gs7SCl-3IrRTC/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Оценка климата</div>
        <div>в коллективе.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1kT53defWYUEyAXbTqV6Gs7SCl-3IrRTC/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1eOCiYB47Ewr8dU7bB1wSDLfUG7cO7U7B/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Педагогический</div>
        <div>такт.doc</div>
        <<div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1eOCiYB47Ewr8dU7bB1wSDLfUG7cO7U7B/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1gBKJbpNSapJ4DRGxFnwvR69xxs62HuDW/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Способность</div>
        <div>педагога  к эмпатии.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1gBKJbpNSapJ4DRGxFnwvR69xxs62HuDW/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1fJ1AOv1r86Qgog0S0MdYRuB7Z3CAkjaQ/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Способность педагога</div>
        <div> к творчеству.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1fJ1AOv1r86Qgog0S0MdYRuB7Z3CAkjaQ/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1a63VOX362Pn-6mDdIxFPQYKPBtaEevO1/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест - Ваш</div>
        <div>творческий  потенциал.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1a63VOX362Pn-6mDdIxFPQYKPBtaEevO1/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1ARIUZaPFKq1KdomR9m17jXK9Ysa65g2k/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест -Какой </div>
        <div>я педагог.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1ARIUZaPFKq1KdomR9m17jXK9Ysa65g2k/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1WjG1ciMpI-tT3h1c-Sl1DMk5fi3ZLgbq/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Экспресс -  диагностика</div>
        <div>изучения климата.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1WjG1ciMpI-tT3h1c-Sl1DMk5fi3ZLgbq/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>

    <p class="Maindiv"><b>Диагностический инструментарий для работы с родителями</b></p>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1qDN-ubom7vsUgSvII-FtmvgLE4BtZCgI/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест-правильно ли</div>
        <div>воспитываете ребенка?.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1qDN-ubom7vsUgSvII-FtmvgLE4BtZCgI/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1wYzl6wa8xQhjBxDI2cxBJ7lrnqT8J-X0/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест</div>
        <div> Сказка.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1wYzl6wa8xQhjBxDI2cxBJ7lrnqT8J-X0/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1Sy-0Vkugu2v6x42r1TStLrulSwSEjf4K/view?usp=sharing"target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест-Я</div>
        <div> и мой ребёнок.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1Sy-0Vkugu2v6x42r1TStLrulSwSEjf4K/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/17FP4zsVc3pIQ4bh7_Aep8ml4QNSuB26U/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест -Какая</div>
        <div> вы  мама.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/17FP4zsVc3pIQ4bh7_Aep8ml4QNSuB26U/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1gZm_DZwCfE24pYfP0TKZSskvNCrCqiox/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест -Какой</div>
        <div>вы  папа.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1gZm_DZwCfE24pYfP0TKZSskvNCrCqiox/view?usp=sharing" target="_blank">
                Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1lfnpKwjHsWjsGC4T6Ki1X282JeGkUJb4/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест Хорошие ли</div>
        <div>вы родители.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1lfnpKwjHsWjsGC4T6Ki1X282JeGkUJb4/view?usp=sharing" target="_blank">
               Читать
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1nbwab9shEoKuOgc5xrAeIX6WMXr7jjks/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест-опросник</div>
        <div> родительского отношения.doc</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1nbwab9shEoKuOgc5xrAeIX6WMXr7jjks/view?usp=sharing"target="_blank">
               Читать
            </a>
        </div>
    </div>
    <p class="Maindiv"><img src="/TextPictures/DiagnosticBot.png"></p>
</div>

