@{
    Layout = "_Layout";
}
<div id="AllContentStyle">
    <p class="Maindiv">
        <b>Программно - методическое обеспечение психопрофилактической</b>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="https://drive.google.com/file/d/1O7yw6xGh_aIsKSPKnxuncciPYHgHcDhx/view?usp=sharing" target="_blank">
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Аралова М.А. </div>
            <div>Формирование колектива   ДОУ.doc</div>
            <div class="ReadDocumentRef">
                <a href="https://drive.google.com/file/d/1O7yw6xGh_aIsKSPKnxuncciPYHgHcDhx/view?usp=sharing" target="_blank">
                    Читать
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="https://drive.google.com/file/d/161-JgTD9H5gxfrG8fPAhhBTfZW7sFWgw/view?usp=sharing"target="_blank">
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>В. Л. Шарохина </div>
            <div>Конспекты занятий с мл детьми.doc</div>
             <div class="ReadDocumentRef">
                <a href="https://drive.google.com/file/d/161-JgTD9H5gxfrG8fPAhhBTfZW7sFWgw/view?usp=sharing" target="_blank">
                    Читать
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="https://drive.google.com/file/d/10fA3ZAyqYhbBQuMUk6FEjA_4VbuDPMxB/view?usp=sharing"target="_blank">
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>В. Л. Шарохина </div>
            <div>Конспекты занятий с ср. детьми.doc</div>
             <div class="ReadDocumentRef">
                <a href="https://drive.google.com/file/d/10fA3ZAyqYhbBQuMUk6FEjA_4VbuDPMxB/view?usp=sharing" target="_blank">
                    Читать
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="https://drive.google.com/file/d/1FOQT74yFVbNr30uXrpeYeeOCAkq25_RA/view?usp=sharing"target="_blank">
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>В. Л. Шарохина </div>
            <div>Конспекты занятий с ст. детьми.doc</div>
             <div class="ReadDocumentRef">
                <a href="https://drive.google.com/file/d/1FOQT74yFVbNr30uXrpeYeeOCAkq25_RA/view?usp=sharing" target="_blank">
                    Читать
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="https://drive.google.com/file/d/1xk7l8EFxPh_62MMu9v9yQDfFBea1P0O-/view?usp=sharing"target="_blank">
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Крюкова С. В., Слободяник  Н.П.о</div>
            <div>Давайте жить дружно.doc</div>
             <div class="ReadDocumentRef">
                <a href="https://drive.google.com/file/d/1xk7l8EFxPh_62MMu9v9yQDfFBea1P0O-/view?usp=sharing" target="_blank">
                    Читать
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="https://drive.google.com/file/d/1iBoCwXuBCYtdI8TI33jvWzT5n8DPgBa9/view?usp=sharing"target="_blank">
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Крюкова С. В., Слободяник  Н.П.</div>
            <div>Удивляюсь, злюсь, хвастаюсь и радуюсь.doc</div>
             <div class="ReadDocumentRef">
                <a href="https://drive.google.com/file/d/1iBoCwXuBCYtdI8TI33jvWzT5n8DPgBa9/view?usp=sharing" target="_blank">
                    Читать
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="https://drive.google.com/file/d/1VdQWK2iUucYJ_bpzgh4Isjk043z742Cy/view?usp=sharing"target="_blank">
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Кузуб Н.В., Осипук Э.И.</div>
            <div>В гостях у песочной феи.doc</div>
             <div class="ReadDocumentRef">
                <a href="https://drive.google.com/file/d/1VdQWK2iUucYJ_bpzgh4Isjk043z742Cy/view?usp=sharing" target="_blank">
                    Читать
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="https://drive.google.com/file/d/1p6sC2LzT4GOuHapb0-Mqy44T5Ge0TqRh/view?usp=sharing"target="_blank">
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Л. И. Катаева</div>
            <div>Конспекты занятий с детьми подг. гр.doc</div>
             <div class="ReadDocumentRef">
                <a href="https://drive.google.com/file/d/1p6sC2LzT4GOuHapb0-Mqy44T5Ge0TqRh/view?usp=sharing" target="_blank">
                    Читать
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="https://drive.google.com/file/d/1J_sjOvfSfRmD6-1hjyPfLib3jF0fWlHZ/view?usp=sharing"target="_blank">
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Л.М. Костина</div>
            <div>Я-сам.doc</div>
             <div class="ReadDocumentRef">
                <a href="https://drive.google.com/file/d/1J_sjOvfSfRmD6-1hjyPfLib3jF0fWlHZ/view?usp=sharing" target="_blank">
                    Читать
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="https://drive.google.com/file/d/1r8kIB8x3Mu3_MSxlx45RxWIg8ZdxTmsK/view?usp=sharing"target="_blank">
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Л.М. Костина</div>
            <div>Самочувствие.doc</div>
             <div class="ReadDocumentRef">
                <a href="https://drive.google.com/file/d/1r8kIB8x3Mu3_MSxlx45RxWIg8ZdxTmsK/view?usp=sharing" target="_blank">
                    Читать
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="/TextDocuments/Маргарита Шевченко - Психологические рисуночные тесты.pdf"target="_blank">
                    <img src="/TextPictures/IconPDF.png">
                </a>
            </div>
            <div>Маргарита Шевченко</div>
            <div>Психологические рисуночные тесты.doc</div>
             <div class="ReadDocumentRef">
                <a href="/TextDocuments/Метод обеспечение/Маргарита Шевченко - Психологические рисуночные тесты.pdf" target="_blank">
                    Читать
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="https://drive.google.com/file/d/12pzDJNXCDiM_3D5JrB1J5m8QLks7X_dh/view?usp=sharing"target="_blank">
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Останкова Ю. В</div>
            <div>Cистема коррекционно-развивающих занятий.doc</div>
             <div class="ReadDocumentRef">
                <a href="https://drive.google.com/file/d/12pzDJNXCDiM_3D5JrB1J5m8QLks7X_dh/view?usp=sharing" target="_blank">
                    Читать
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="https://drive.google.com/file/d/1Po4SqD0dJxWkwT1UkYCPC7voONSku1gZ/view?usp=sharing"target="_blank">
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Хулаева О.В.</div>
            <div>Лабиринт души.doc</div>
             <div class="ReadDocumentRef">
                <a href="https://drive.google.com/file/d/1Po4SqD0dJxWkwT1UkYCPC7voONSku1gZ/view?usp=sharing" target="_blank">
                    Читать
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="https://drive.google.com/file/d/1VLyVRxvLS2Wki8gcfclXaZS-ko-zajg4/view?usp=sharing"target="_blank">
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Широкова Г.А.</div>
            <div>Справочник дошкольного психолога.doc</div>
             <div class="ReadDocumentRef">
                <a href="https://drive.google.com/file/d/1VLyVRxvLS2Wki8gcfclXaZS-ko-zajg4/view?usp=sharing" target="_blank">
                    Читать
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="https://drive.google.com/file/d/1xYI1FpwAQ0K8rAVThvPePlFw7gqHEr5l/view?usp=sharing"target="_blank">
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Шитова Е.В.</div>
            <div>Работа с родителями.doc</div>
             <div class="ReadDocumentRef">
                <a href="https://drive.google.com/file/d/1xYI1FpwAQ0K8rAVThvPePlFw7gqHEr5l/view?usp=sharing" target="_blank">
                    Читать
                </a>
            </div>
        </div>
    <p class="Maindiv"><img src="/TextPictures/PMbot6.jpg"><p>
</div>

