@{
    Layout = "_Layout";
}
<div id="AllContentStyle">
    <p class="Maindiv"><b>Мои презентации</b></p>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1WJpmWx6QHDoGFk8tqCizQ0IMPuufE6EF/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconPresent.png">
            </a>
        </div>
        <div>Влияние семейного воспитания</div>
        <div> на психологическое здоровье  ребёнка.pps</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1WJpmWx6QHDoGFk8tqCizQ0IMPuufE6EF/view?usp=sharing" target="_blank">
                Смотреть презентацию
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1fHOSlSMOczn9CW1IUaWsExJIn-CWHyBm/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconPresent.png">
            </a>
        </div>
        <div>Дети с синдромом дефицита</div>
        <div>внимания и гиперактивности.pps</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1fHOSlSMOczn9CW1IUaWsExJIn-CWHyBm/view?usp=sharing" target="_blank">
                Смотреть презентацию
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1s1QsFHcn5PGxr_OlViyGUDxuzCYXFH-X/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconPresent.png">
            </a>
        </div>
        <div>Использование сказкотерапии</div>
        <div> в работе  с детьми дошкольного  возраста.pptx</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1s1QsFHcn5PGxr_OlViyGUDxuzCYXFH-X/view?usp=sharing" target="_blank">
                Смотреть презентацию
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/15aCsuOhWVg1cKwBIUvopvjUPg9vJV1ja/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconPresent.png">
            </a>
        </div>
        <div>Коррекция тревожности у детей</div>
        <div>  дошкольного возраста.pps</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/15aCsuOhWVg1cKwBIUvopvjUPg9vJV1ja/view?usp=sharing" target="_blank">
                Смотреть презентацию
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1FFJbvOweeL-fbUGKvrqzS9r74TTx_KkA/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconPresent.png">
            </a>
        </div>
        <div>Повышение  компетенции педагогов</div>
        <div>в общении с родителями.pps</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1FFJbvOweeL-fbUGKvrqzS9r74TTx_KkA/view?usp=sharing" target="_blank">
                Смотреть презентацию
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1RNihZxiAbwW_xOi_eJdctOzmW8yhrD1Z/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconPresent.png">
            </a>
        </div>
        <div>Поощрения и наказания </div>
        <div> в семье.pps</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1RNihZxiAbwW_xOi_eJdctOzmW8yhrD1Z/view?usp=sharing" target="_blank">
                Смотреть презентацию
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1GyJDJBWhGwE8Oy0lhQ5XhCxFDTUER-yZ/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconPresent.png">
            </a>
        </div>
        <div>Профилактика  эмоционального</div>
        <div>  выгорания  педагогов.pps</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1GyJDJBWhGwE8Oy0lhQ5XhCxFDTUER-yZ/view?usp=sharing" target="_blank">
                Смотреть презентацию
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1Da40WdNM7L_Cr36pJIH-J5SwA5h3IYpg/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconPresent.png">
            </a>
        </div>
        <div>Психологическая  готовность</div>
        <div>к обучению  в школе.pps</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1Da40WdNM7L_Cr36pJIH-J5SwA5h3IYpg/view?usp=sharing" target="_blank">
                Смотреть презентацию
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="https://drive.google.com/file/d/1z2BM4OUaIqNP6gUEjrTZIhn30Aj8H0NV/view?usp=sharing" target="_blank">
                <img src="/TextPictures/IconPresent.png">
            </a>
        </div>
        <div>Центры  социально - эмоц. </div>
        <div>развития в группах  детского  сада.pps</div>
        <div class="ReadDocumentRef">
            <a href="https://drive.google.com/file/d/1z2BM4OUaIqNP6gUEjrTZIhn30Aj8H0NV/view?usp=sharing" target="_blank">
                Смотреть презентацию
            </a>
        </div>
    </div>
    <p class="Maindiv"><img src="/TextPictures/PresentBot9.png"></p>
</div>
